// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color); //Dynamic color changing
    @include easeOut;
  }

  // Rotate Into X with Menu Lines interacting with JS
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //Line 1 Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        background-color: $secondary-color; //optional
      }
      // Line 2 Hide
      &:nth-child(2) {
        opacity: 0;
      }
      //Line 3 Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  //Flex Box for the branding photo and nav list
  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    // Added rotaton Animation
    transform: rotate(-180deg);
    &.show {
      //Slid in from Top
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding side and Photo
  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;
    // Added $$$
    //transform: rotate(180deg);
    &.show {
      //Slid in from Bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/potrait.jpg");
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }
  //Nav Items Animation
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;
    &.show {
      //Slid in from right
      transform: translate3d(0, 0, 0);
    }

    // The first nav item color current class
    &.current > a {
      color: $secondary-color;
    }

    //Green glow border effect
    a::before,
    a::after {
      content: "";
      height: 14px;
      width: 14px;
      position: absolute;
      transition: all 0.35s ease;
      opacity: 0;
    }
    a::before {
      content: "";
      right: 0;
      top: 0;
      border-top: 3px solid #96b474;
      border-right: 3px solid #96b474;
      transform: translate(-100%, 50%);
    }
    a:after {
      content: "";
      left: 0;
      bottom: 0;
      border-bottom: 3px solid #96b474;
      border-left: 3px solid #96b474;
      transform: translate(100%, -50%);
    }

    a:hover:before,
    a:hover:after {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  // The nav link styling
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($primary-color); //Dynamic color
    text-decoration: none;
    @include easeOut;

    // Hover on links
    &:hover {
      color: $secondary-color;
      // 3d Hover property Grow
      transform: scale(1.1);
    }
  }
}

//Delay each Nav Item slide
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.2s;
  }
}
