@use "animation";
@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Yuji Syuku", serif;
  line-height: 1.5;
}
//Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 200;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

//All icons and links in the site
a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px); //To make the footer stick to the bottom

  // The icons skills in the main page
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// About me Page using grid
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-auto-columns: repeat(3, 1fr);

  // Each grid Style
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
    visibility: hidden; //This class is hidden until further notice about the next job role
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 3px solid;
    border-radius: 5%;
  }
}

//My Project page
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  /* Project Imgs and Hover Effects */
  img {
    width: 100%;
    border-radius: 4%;
  }

  .projects-elements {
    float: left; /* for demonstration purpose only */
    position: relative;

    &__info {
      border-radius: 3%;
      background-color: rgba(#ffffff, 0.7);
      z-index: 5;
      position: absolute;
      margin: 0 auto;
      top: 4%;
      left: 8%;
      height: 70%;
      width: 85%;
      text-align: center;
      color: #000;
      visibility: hidden;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
      font-size: 0.9rem;
    }
  }
  //Hover Effects
  .projects-elements:hover {
    .projects-elements__info {
      visibility: visible;
      -webkit-transform: translate(0, 0%);
      transform: translate(0, 0%);
      opacity: 1;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
  }
  .projects-elements:hover:after {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 0.9;
  }
}

// Contact me page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 12rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.2rem 0.3rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        a {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
}

//Button Style cross the site
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

// Btn styles for the project page specifically
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

//Footer Styling
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

//For responsive we import mobile at the bottom
@import "mobile";
